* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: "Roboto", sans-serif;

    background-color: #d7e8f5;
}

.container {
    text-align: center;
}
.container h2 {
    padding: 20px;
    margin-bottom: 24px;

    font-size: 32px;
    color: #fff;

    background-color: #222;
    border-radius: 10px;
}
.color {
    color: #49a6e9;
}

.btn {
    padding: 8px;

    font-size: 16px;
    letter-spacing: 1.5px;
    color: #222;

    background-color: transparent;
    border: 2px solid #222;
    border-radius: 5px;

    outline: none;

    transition: all .275s ease;
}
.btn:hover {
    color: #fff;
    background-color: #222;
}